{%extends 'base.html'%} {% block content %}

<main>
  <h1>Accounts</h1>

  <table>
    <tr>
      <thead>
        <th>Name</th>
        <th>Number</th>
        <th>Number of receipts</th>
      </thead>
    </tr>
    <tbody>
      {% for account in account_list%}
      <tr>
        <td>{{account.name}}</td>
        <td>{{account.number}}</td>
        <td>{{account.number_receipt}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock content %}
