{%extends 'base.html'%} {% block content %}

<main>
  <h1>Expense Categories</h1>
  <table>
    <tr>
      <thead>
        <th>Name</th>
        <th>Number of receipts</th>
      </thead>
    </tr>
    <tbody>
      {% for category in expensecategory_list %}

      <tr>
        <td>{{category.name}}</td>
        <td>{{category.number_receipt}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock content %}
