<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <nav>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'home' %}">Receipts</a>
      </li>

      <li>
        <a href="{% url 'receipt_create' %}">Create receipts</a>
      </li>

      <li>
        <a href="{% url 'account_list' %}">Accounts</a>
      </li>

      <li>
        <a href="{% url 'account_create' %}">Create account</a>
      </li>

      <li>
        <a href="{% url 'category_list' %}">Categories</a>
      </li>

      <li>
        <a href="{% url 'category_create' %}">Create category</a>
      </li>

      <li>
        <a href="{% url 'logout' %}">Logout</a>
      </li>

      {% else %}
      <li>
        <a href="{% url 'login' %}">Login</a>
      </li>
      <li>
        <a href="{% url 'sign_up' %}">Sign Up</a>
      </li>
    </nav>
    {% endif %} {% block content %} {% endblock content %}
  </body>
</html>
