{%extends 'base.html'%} {% block content %}

<main>
  <h1>Receipts</h1>
  <table>
    <tr>
      <thead>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
      </thead>
    </tr>
    <tbody>
      {% for receipt in receipt_list %}
      <tr>
        <td>{{receipt.vendor}}</td>
        <td>{{receipt.total}}</td>
        <td>{{receipt.tax}}</td>
        <td>{{receipt.date}}</td>
        <td>{{receipt.category}}</td>
        {% if receipt.account != None %}
        <td>{{receipt.account}}</td>
        {% else %}
        <td>Cash</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock content %}
